.signup-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  font-family: 'Poppins', sans-serif;
  position: fixed; /* Ensure it covers the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Make sure the popup is above other elements */
  backdrop-filter: blur(8px); /* Blur the background */
  overflow: hidden; /* Prevent horizontal scrollbars */
}

.signup-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 400px;
  position: relative;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1.5rem;
}

button.close-button {
  font-size: 1.2rem;
  color: #333;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
mat-form-field {
  width: 100%;
}

button[mat-raised-button] {
  width: 100%;
  margin-top: 20px;
}
