<div class="footer">
    <div class="container footer w-container">
      <div class="footer-flex-container">
        <div class="footer-social-media-container">
          <div class="social-media-content">
            <div class="fade-in-on-scroll">
              <div>Follow us</div>
            </div>
            <a href="https://www.instagram.com/priyanka_png/" target="_blank" class="social-media-link w-inline-block">
              <img src="https://cdn.prod.website-files.com/622cadb01e0860949cee3d08/622f6de5d0f4987f636c6ba2_instagram%20(1).svg" loading="lazy" alt="Instagram" class="social-media-icon">
            </a>
            <a href="https://twitter.com/priyanka_png" target="_blank" class="social-media-link w-inline-block">
              <img src="https://cdn.prod.website-files.com/622cadb01e0860949cee3d08/622f6de64509bfa9cc606b5c_twitter.svg" loading="lazy" alt="Twitter" class="social-media-icon">
            </a>
            <a href="https://www.youtube.com/c/priyankagraphicdesigner" target="_blank" class="social-media-link w-inline-block">
              <img src="https://cdn.prod.website-files.com/622cadb01e0860949cee3d08/622f6de63a49487201780729_youtube.svg" loading="lazy" alt="YouTube" class="social-media-icon">
            </a>
            <a href="https://www.linkedin.com/priyanka_png" target="_blank" class="social-media-link w-inline-block">
              <img src="https://cdn.prod.website-files.com/622cadb01e0860949cee3d08/622f6de64c027bcfcd9f5a2b_linkedin.svg" loading="lazy" alt="LinkedIn" class="social-media-icon">
            </a>
          </div>
        </div>
        <div class="footer-brand-content">
          <ul class="footer-list">
            <li class="footer-list-item"><a href="https://cosmofeed.com/about/privacy-policy.html" target="_blank" class="link">Privacy Policy</a></li>
            <li class="footer-list-item"><a href="https://cosmofeed.com/about/terms-and-conditions.html" target="_blank" class="link">Terms &amp; Conditions</a></li>
            <li class="footer-list-item"><a href="https://cosmofeed.com/about/cancellation-refund-policy.html" target="_blank" class="link">Refund &amp; Cancellation</a></li>
            <li class="footer-list-item"><a href="https://cosmofeed.com/about/disclaimer.html" target="_blank" class="link">Disclaimer</a></li>
            <li class="footer-list-item"><a href="/contact-us" class="link">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer-copyright">
          <div class="grey-text">Copyright © ipriyanka</div>
        </div>
      </div>
    </div>
  </div>
  