/* Ensure the entire page takes up at least the full height of the viewport */
html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
}

/* Make the app component a flex container */
:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Ensure the inner content takes up all available space */
.inner-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%; 
    height: 100vw;
}

/* Style for the header */
app-header {
    position: relative;
}

/* Style for the footer to ensure it stays at the bottom */
app-footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Additional styles for making sure footer is at the bottom */
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Handle small screens */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }
}
