<div class="signup-popup">
  <div class="signup-container">

    <button mat-icon-button class="close-button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    <h2 class="signup-title">{{data.purpose == 'pay' ? 'Checkout' : 'Verify Payment'}}</h2>
  
  <form class="checkout-form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input class="input-box" matInput formControlName="name" placeholder="Enter your name" required>
    <div *ngIf="checkoutForm.get('name')?.errors?.['required'] && checkoutForm.get('name')?.touched" class="error-message">
      Name is required.
    </div>
    <div *ngIf="checkoutForm.get('name')?.errors?.['minlength'] && checkoutForm.get('name')?.touched" class="error-message">
      Name must be at least 3 characters long.
    </div>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input class="input-box" matInput 
    (ngModelChange)="onEmailChange($event)"
    [attr.disabled]="(otpSent || otpVerified) || disableEmailInput ? true : null" formControlName="email" placeholder="Enter your email" required>
    <span *ngIf="otpVerified" class="checkmark">verified✔</span>
    <div *ngIf="checkoutForm.get('email')?.errors?.['required'] && checkoutForm.get('email')?.touched" class="error-message">
      Email is required.
    </div>
    <div *ngIf="checkoutForm.get('email')?.errors?.['email'] && checkoutForm.get('email')?.touched" class="error-message">
      Enter a valid email.
    </div>
    <div *ngIf="checkoutForm.get('email')?.errors?.['serverError'] && checkoutForm.get('email')?.touched" class="error-message">
      Something went wrong, unable to generate Otp.
    </div>
    <button *ngIf="!otpVerified" type="button" class="otp-button" (click)="sendOtp()" [disabled]="(checkoutForm.get('email')?.invalid || loading) || (otpSent && timer!==0)">
      <ng-container *ngIf="loading; else buttonText">
        <div class="button-loader"></div>
      </ng-container>
      <ng-template #buttonText>
        {{ otpSent ? 'Resend OTP' + (timer !== 0 ? '(' + timer + 's)' : '') : 'Send OTP' }}
      </ng-template>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="otpSent && !otpVerified">
    <mat-label>OTP</mat-label>
    <input class="input-box" matInput formControlName="otp" placeholder="Enter your otp" required>
    <div *ngIf="checkoutForm.get('otp')?.touched && checkoutForm.get('otp')?.invalid" class="error-message">
      {{ getErrorMessage('otp') }}
    </div>
    <button type="button" class="verify-button" (click)="verifyOtp()" [disabled]="checkoutForm.get('otp')?.invalid || verifyOtpLoading">
      <ng-container *ngIf="verifyOtpLoading; else buttonText">
        <div class="button-loader"></div>
      </ng-container>
      <ng-template #buttonText>
        Verify
      </ng-template>
    </button>
  </mat-form-field>

  <div *ngIf="data.purpose == 'pay'">
    <mat-label for="amount"> Amount :  <strong>{{ data.file.price | currency:"INR" }}</strong> </mat-label>
  </div>

  <div *ngIf="otpVerified" class="session-timer">
    <p>Your session will expire in <span>{{ formattedTime }}</span></p>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="checkoutForm.invalid || !otpVerified || verifyPayLoading">
    <ng-container *ngIf="verifyPayLoading; else buttonText">
      <div *ngIf="isPaymentStarted" class="button-loader"></div>
    </ng-container>
    <ng-template #buttonText>
      {{ data.purpose == 'pay' ? 'Pay' : 'Verify' }}
    </ng-template>
  </button>
    <div class="error-message" *ngIf="!isPayNoError">
      {{ payErrorMessage }}
    </div>
    <div class="success-note" *ngIf="alreadyPaid">
      {{paySuccessMessage}}
    </div>
    <div class="note">*Mandatory to verify email first</div>
  </form>
  </div>
</div>
