<div class="homepage">
  <!-- <mat-toolbar>
    <span style="margin: 0 auto;">Available Files</span>
  </mat-toolbar> -->
  <mat-card class="page-heading">
    <button mat-icon-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="page-title">Available Files</span>
  </mat-card>
  
  <div class="search-filter-container">
    <!-- Search Box -->
    <div class="search-container">
      <mat-form-field appearance="outline" class="search-input">
        <mat-label>Search files</mat-label>
        <input
          matInput
          [(ngModel)]="searchQuery"
          (input)="onSearchInput($event)"
          [matAutocomplete]="auto"
          (focus)="showSuggestions = true"
          (blur)="hideSuggestions()"
          placeholder="Search files"
        />
        <button *ngIf="searchQuery" mat-icon-button matSuffix aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-icon matPrefix>search</mat-icon>
  
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectSuggestion($event.option.value)">
          <mat-option *ngFor="let suggestion of filteredFiles" [value]="suggestion">
            {{ suggestion.originalfilename }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  
    <!-- Filter Section -->
    <mat-expansion-panel class="filters-panel" [(expanded)]="showFilters">
      <mat-expansion-panel-header>
        <mat-panel-title>Filter Options</mat-panel-title>
        <mat-panel-description>Refine your search</mat-panel-description>
      </mat-expansion-panel-header>
  
      <div class="filters">
        <mat-form-field class="filter-item">
          <mat-label>Price</mat-label>
          <mat-select 
            [(ngModel)]="filterCriteria.price" 
            multiple 
            (selectionChange)="onSelectionChange('price', $event)">
            <mat-select-trigger>
              <ng-container *ngIf="filterCriteria.price?.length; else placeholder">
                {{ filterCriteria.price.length === priceOptions.length?'All':filterCriteria.price.length }} Selected
              </ng-container>
              <ng-template #placeholder>
                Select Types
              </ng-template>
            </mat-select-trigger>
            <mat-checkbox
            class="checkbox-option"
            [checked]="isChecked('price')"
            [indeterminate]="partiallyComplete('price')"
            (change)="updateCheckbox('price',priceOptions, $event.checked)"
          >
            All Prices
          </mat-checkbox>
            <mat-option *ngFor="let price of priceOptions" [value]="price !== 0.0 ? price : 'Free'">
              {{ price !== 0.0 ? (price | currency: 'INR') : 'Free' }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="filter-item">
          <mat-label>Type</mat-label>
          <mat-select 
            [(ngModel)]="filterCriteria.type" 
            multiple 
            (selectionChange)="onSelectionChange('type', $event)">

            <mat-select-trigger>
              <ng-container *ngIf="filterCriteria.type?.length; else placeholder">
                {{ filterCriteria.type.length === typeOptions.length?'All':filterCriteria.type.length }} Selected
              </ng-container>
              <ng-template #placeholder>
                Select Types
              </ng-template>
            </mat-select-trigger>
            
            <mat-checkbox
            class="checkbox-option"
            [checked]="isChecked('type')"
            [indeterminate]="partiallyComplete('type')"
            (change)="updateCheckbox('type',typeOptions, $event.checked)"
          >
            All Types
          </mat-checkbox>
            <mat-option *ngFor="let type of typeOptions" [value]="type">{{ type }}</mat-option>
          </mat-select>
        </mat-form-field>
        
        
        <mat-form-field class="example-form-field">
          <mat-label>Date Added</mat-label>
          <mat-date-range-input
            [formGroup]="addedDateRange"
            [rangePicker]="addedDateRangePicker"
            [comparisonStart]="addedDateRange.value.start"
            [comparisonEnd]="addedDateRange.value.end">
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date" formControlName="end">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="addedDateRangePicker"></mat-datepicker-toggle>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-date-range-picker #addedDateRangePicker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button style="background-color: black; color: white;" (click)="applyFilters()">Apply Filters</button>
      </div>
    </mat-expansion-panel>
  </div>
  

  
    

  <div class="file-list" *ngIf="noFiles; else noFiles">
    <div *ngFor="let file of filteredFiles" class="file-item" (click)="openFileDetails(file, $event)">
      <div class="file-preview">
        <div *ngIf="!file.previewUrl; else imageLoaded" class="loading-placeholder">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
        <ng-template #imageLoaded>
          <img [src]="file.previewUrl" alt="{{ file.originalfilename }}" (load)="onImageLoad(file)" (error)="onImageError(file)" />
        </ng-template>
      </div>
      <div class="file-info">
        <span class="file-name">{{ file.originalfilename }}</span>
        <span class="file-type">{{ file.price !== 0 ? (file.price | currency: 'INR') : 'Free' }}</span>
      </div>
      <button mat-raised-button color="accent" class="buy-button" (click)="onBuyAndDownload(file, $event)">
        {{ file.price === 0 ? 'Download' : 'Buy and download' }}
      </button>
    </div>

    <!-- Placeholder items while loading -->
<ng-container *ngIf="isLoading && files.length === 0 && !noFiles">
  <div class="file-item loading-opacity" *ngFor="let i of [1, 2, 3]">
      <div class="file-preview loading-placeholder">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
      <div class="file-info">
        <span class="file-name">Loading...</span>
        <span class="file-type">...</span>
      </div>
    </div>
  </ng-container>
  </div>
<ng-template #noFiles>
  <div class="no-files">
    <mat-icon>cloud_off</mat-icon>
    <span>No files found</span>
  </div>
</ng-template>

  <router-outlet></router-outlet>
</div>
