<div class="file-details-comp">
<!-- <div class="page-heading-div"> -->
  <mat-card class="page-heading">
    <button mat-icon-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="page-title">File Details</span>
  </mat-card>
<!-- </div> -->

  <mat-card class="file-details-container">
    <!-- Preview Section -->
    <h2>Preview Images</h2>
    <!-- <mat-spinner *ngIf="loaderService.isLoading | async"></mat-spinner> -->

      <div class="preview-images" *ngIf="loaderService.isLoading | async">
        <mat-card class="spinner-class" *ngFor="let i of [1, 2, 3]">
              <mat-spinner diameter="120"></mat-spinner>
          </mat-card>
        </div>

    <div *ngIf="file.sampleFiles?.length; else noImages" class="preview-images">
      <mat-card *ngFor="let image of file.sampleFiles" class="image-card" (click)="openZoomDialog(image)">
        <img mat-card-image [src]="image.src" alt="Preview Image" loading="lazy">
      </mat-card>
    </div>
    <ng-template #noImages>
      <p>No preview images available.</p>
    </ng-template>

    <!-- File Info Section -->
    <div class="file-info">
      <p><strong>Title:</strong> {{ file.title }}</p>
      <p><strong>Filename:</strong> {{ file.originalfilename }}</p>
      <p><strong>Type:</strong> {{ file.mimetype }}</p>
      <p><strong>Size:</strong> {{ file.size }}</p>
      <p><strong>Description:</strong> {{ file.description }}</p>
      <p *ngIf="file.price > 0"><strong>Price:</strong> {{ file.price | currency:"INR" }}</p>

      <!-- Action Buttons -->
      <div class="button-group">
        <button mat-raised-button style="background-color: black; color: white;" (click)="handleActionClick()">
          {{ file.price > 0 ? 'Buy Now' : 'Download' }}
        </button>
        <button *ngIf="file.price > 0" mat-stroked-button color="primary" (click)="verifyPayment()">
          Verify Payment
        </button>
        <button mat-stroked-button color="warn" (click)="contactMe()">Contact Me</button>
      </div>
    </div>
  </mat-card>
  
  <div *ngIf="isLoading1">
    <app-loader></app-loader>
  </div>
</div>
