@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

Base styles
body {
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.blur-background {
  filter: blur(8px);
}

.transparent-dialog-container .mat-dialog-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0;
  overflow: visible;
}

.transparent-dialog-container .checkout-container {
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  border-radius: 20px;
  padding: 1rem;
  max-width: 600px;
  min-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 0.5rem auto;
}


/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode .header {
  background-color: #333;
  color: #e0e0e0;
}

body.dark-mode .logo .logo-text {
  background: linear-gradient(to right, #a0a6f6, #810036); /* Adjust gradient for better visibility in dark mode */
}

body.dark-mode .nav a {
  color: #e0e0e0;
}

body.dark-mode .nav a:hover {
  color: #80bfff; /* Light blue hover color */
}

body.dark-mode .btn {
  background-color: #444;
  color: #e0e0e0;
}

body.dark-mode .btn.primary {
  background-color: #d32f2f;
}

body.dark-mode .btn.secondary {
  background-color: #757575;
}

body.dark-mode .btn.toggle-theme {
  background-color: #1976d2;
}

/* Specific components adjustments */

body.dark-mode .services-container {
  background: linear-gradient(135deg, #3a3a3a, #1e1e1e); /* Darker background gradient */
  color: #e0e0e0; /* Lighter text color */
}

body.dark-mode .services-container h1,
body.dark-mode .services-container h2,
body.dark-mode .services-container p {
  color: #e0e0e0; /* Lighter heading and paragraph text color */
}

body.dark-mode .service-item {
  background: #444; /* Darker background */
  color: #e0e0e0; /* Lighter text color */
}

body.dark-mode .contact-container {
  background: linear-gradient(135deg, #3a3a3a, #1e1e1e); /* Darker background gradient */
  color: #e0e0e0; /* Lighter text color */
}

body.dark-mode .contact-container h1,
body.dark-mode .contact-container h2,
body.dark-mode .contact-container p {
  color: #e0e0e0; /* Lighter heading and paragraph text color */
}

body.dark-mode .contact-container label {
  color: #ccc; /* Lighter label text color */
}

body.dark-mode .file-list .file-item {
  background: #444; /* Darker background */
  color: #e0e0e0; /* Lighter text color */
}

body.dark-mode .file-item:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5); /* Darker box shadow on hover */
}

body.dark-mode .file-item::before {
  background-color: rgba(255, 255, 255, 0.2); /* Lighter overlay effect */
}

body.dark-mode .page-heading {
  color: #e0e0e0; /* Lighter page heading text color */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
